* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url(./image/nature-3792638_1920.jpg);
    background-size: cover;
    width: 100%;
    height: 522px;
}

header h1 {
    color: #00304f;
    text-align: center;
    font-size: 100px;
    position: relative;
    top: 520px;
    background-color: #ff8800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

section {
    display: flex;
    width: 1135px;
    position: relative;
    margin: 200px auto;
}

.animal {
    margin: 15px;
}

.animal img {
    width: 348px;
    height: 320px;
}

.animal h4 {
    width: 90%;
    text-align: center;
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
}

footer p {
    line-height: 40px;
    font-size: x-large;
}